<div class="text-center">
	<script type="text/javascript">
	  $(document).ready(function(){
	    $('[data-behaviour~=datepicker]').datepicker();
	  })

	</script>


	<div class="page-header">
		<h1>
			<small>Адреса магазинов</small>
		</h1>
	</div>

	
	<ul class="list-group">
		<li class="list-group-item"><small>Невский проспект</small></li>
		<li class="list-group-item"><small>канал Грибоедова</small></li>
		<li class="list-group-item"><small>Петродворец</small></li>
		<li class="list-group-item"><small>Кресты</small></li>

	</ul>

	<div class="date">
		Выбирите дату для резервации
	</div>
	

	
	
	<%= form_tag({controller: "checkout", action:"final_store"}) %>
		<input name="datepick" type="text" data-provide="datepicker" /> 

		<%= submit_tag "Confirm", class:"btn btn-large btn-warning"%>

	
		
	
</div>