<h1>panel admin</h1>
<p>Find me in app/views/product/show.html.erb</p>
<div class="ship-button">
				<a href="<%=admintovar_path%>">
					<button type="button" class="btn btn-default">Товары</button>
				</a>
				<a href="<%=adminzakaz_path%>">
					<button type="button" class="btn btn-default" >Заказы</button>
				</a>
			</div>