<div class="text-center">

	<h1><span class="label label-default">Мои заказы</span></h1>

	<div class="orders">
		<% if @orders.length == 0 %>
   <div class="no-item">
		<div class="text-center">
			<h2><small>У Вас нет заказов :(</small></h2>
		</div>
	</div>	
<% else %> 
    
			<ul class="list-group"></ul>
				<% @orders.each do |i| %>
				<li class="list-group-item">
					<small><%= i.instance_variable_get(:@product_name) %> | 
					<%= i.created_at %> | 
					<% if i.pickup == true %>
						Самовывоз из магазина <%= i.date %>
					<% else %>
						Доставка по адресу 
					<% end %>
				</small>
				</li>
				<%end %>
			</ul>
		<% end %>

	</div>
</div>