// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkout-list{
	padding-top:40px;
}
.ship-button			{
	padding-top:30px;
}
.date{
	padding-top:100px;
}

.no-item{
	padding-top:50px;
}